<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <h2>Reset Password</h2>
    <form method="POST">
        <input type="hidden" name="uidb64" value="{{ uidb64 }}">
        <input type="hidden" name="token" value="{{ token }}">
        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" name="new_password"><br>
        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password"><br>
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>
