Hallo {{ user.username }},
Wir haben eine Anfrage zum Löschen Deines Accounts erhalten.
Wenn Du Deinen Account wirklich löschen möchtest, klick bitte auf den untenstehenden Link:

http://{{ domain }}/delete-account/{{ uidb64 }}/{{ token }}

Falls Du diese Anfrage nicht gesendet hast, ignoriere bitte diese E-Mail.
Bitte beachte, dass dieser Löschvorgang endgültig ist und alle Deine Daten dauerhaft entfernt werden. Nach der Löschung kann Dein Account nicht wiederhergestellt werden.
Danke, dass Du Teil unserer Community warst. Solltest Du Fragen oder Bedenken haben, zögere bitte nicht, uns zu kontaktieren.

Dein ReserveHub Team

