Hallo {{ email }},

vielen Dank für Deine Anmeldung zum {{ package_name }} Abonnement bei uns! Bevor Du die zahlreichen Vorteile Deines neuen Pakets nutzen kannst, gibt es noch einen kleinen Schritt.

Abonnementdetails:

Paketname: {{ package_name }}
Monatlicher Preis: {{ monthly_price }}€

Bei Erhalt dieser E-Mail ist Dein Account bereits für das {{ package_name }} Abonnement freigeschaltet.
Wir wünschen Dir viel Spaß mit Deinem neuen Paket!

Falls Du die Anmeldung zum Abonnement nicht selbst vorgenommen hast, kontaktiere bitte unseren Kundenservice.

Das Team von ReserveHub
