*{
  box-sizing: border-box;
}

html{
  width: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: "#041630"; */
  background-color:#ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* place-items: center; */
  min-width: 320px;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.label-left-align .ant-form-item-label > label {
  float: left;
}

#root {
  text-align: center;
  display: flex;
  flex-flow: column;
height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}




.user-wrapper{
  flex-grow : 1;
  display: flex;
}

.sidebar-wrapper{
  width: fit-content;
  float:left;

}
.content{
  width: 100%;
}

.sidebar{
  height: 100%;
}

.form-wrapper{
  margin: 0;
  flex-grow : 1;
  display: flex;
}

.navbar{
  z-index: 1;
  width: 100%;
  max-height: 70px;
  min-height: 70px;
}

.statistic-wrapper{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;

}

.statisticCard-icon{
  float: left;
}

.statisticCard-content{
  float: left;
  margin: 0 40px;
  height: 100%;
}

.statisticCard-title-wrapper{
  height: 50%;
}

.statisticCard-value{
  margin: 0;
}

.ant-card-body{
  height: 100%;
}


.statisticCard-title-wrapper{
  display: flex;
  align-items:center;
  justify-content:center;
  width: 100%
}
.statisticCard-title-wrapper p {
  width: 100%;
  margin: 0;
}

.ant-card-body{
  width: 100%;
  display: flex;
  align-items: center;
}

.dashboard-title{
  padding-left: 40px;
}


.dashboard-visualization {
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;


}

.ant-spin-nested-loading, .ant-spin-container, .ant-table, .ant-table-container, .ant-table-content, .ant-table-content table{
  height: 100%;
}

.userInfo-wrapper div span{
  text-align: left;
}

.dashboard-userInfo-wrapper{
  display: flex;
  flex-direction: column;
}
.dashboard-userInfo-wrapper div{
  flex-grow: 1;
}
.dashboard-userInfo-wrapper div div{
  back
}